// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables/media/css/jquery.dataTables.min.css';
